.foodsummary div img {
  width: 20rem;
  height: 22rem;
  border-radius: 20px;
  margin: 0 1.5rem;
}
.foodsummary {
  margin: 5% 0;
}
.foodsummary h3{
  font-size: 20px;
}
.foodlist {
  display: flex;
  width:100%;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
  align-items: space-around;
}
.explore form {
  margin: 0% auto;
  margin-top: 6rem;
  position: relative;
}
.explore form input {
  padding: 1.5% 5%;
  width: 100%;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 1px 10px #ddd, 2px 1px 10px #fff;
  position: relative;
}

.search {
  position: absolute;
  width: 5rem;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 60px;
  height: 100%;
  left: 87.4%;
}
@media screen and (max-width: 1000px){
  .search{
    border:none;
    left:87.4%;
  }
  .searchicon{
    top:-5px;
  }
  .foodsummary div img {
  width: 10rem;
  height: 14rem;
  border-radius:10px;
  margin: 0 1.5rem;
}
}
@media screen and (max-width: 590px){
  .search{
    border:none;
    left:80%;
  }
  .searchicon{
    top:-5px;
  }
  .foodsummary div img {
  width: 6rem;
  height: 8rem;
  border-radius:10px;
  margin: 0 1.5rem;
}
}