.foodsummary div img {
  width: 18rem;
  height: 22rem;
  border-radius: 20px;
  margin: 0 1.5rem;
}
.foodsummary {
  margin: 5% 0;
}
.foodlist {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.explore form {
  margin: 0% auto;
  margin-top: 6rem;
  position: relative;
}
.explore form input {
  padding: 1.5% 5%;
  width: 100%;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 1px 10px #ddd, 2px 1px 10px #fff;
  position: relative;
}

.search {
  position: absolute;
  width: 5rem;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 60px;
  height: 100%;
  left: 87.4%;
}
@media screen and (max-width: 590px){
  .search{
    border:none;
    left:75%;
  }
  .searchicon{
    top:-5px;
  }
  .foodsummary div img {
  width: 10rem;
  height: 14rem;
  border-radius: 20px;
  margin: 0 1.5rem;
}
}
