@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family:"Roboto", sans-serif;
  box-sizing: border-box;
  /* border:1px solid blue; */
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.animenav {
  /* background-color: rgb(255, 169, 71); */
  position: fixed;
  clear:both;
  width: 100%;
  height:4rem;
  justify-content: space-between;
  z-index: 16;
}
.ulanime {
  padding: 2% 2%;
  font-size: 14px;
  text-align: center;
}
.ulanime li{
  text-align:center;
}
.ulanime li:hover a:hover{
  text-decoration: none;
}
.ulanime li:hover a{
  color:orangered;
}
.ulanime li:active{
  background: #ccc;
}
.nopadding {
  background: url("./assets/Subtract.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: local;
  position: relative;
  height: 90vh;
}
.animelogo {
  max-width: 6rem;
  height:100%;
  padding-left: 10%;
  box-sizing: content-box;
}
.menu {
  padding: 20px;
}
.navchange{
  position: relative;
  margin:80% -80%;
  width:inherit;
  z-index: 15;
}
.scroll{
  background: #7e1f1f;
  transition: background .5s ease-in;
}
.menubad {
  width: 15px;
  height:15px
}
.writeup {
  color: white;
  margin-top: 15%;
}
.writeup h1 {
  font-size: 3.2rem;
  font-weight: 300;
}
.image-svg {
  flex: 0 0 40%;
  width: 30%;
  margin: 10% 0%;
  position: absolute;
}
.orderbtn {
  /* background: linear-gradient(to bottom right, rgb(110, 33, 33),  rgb(196, 20, 20), rgb(121, 18, 18)); */
  border: none;
  background: linear-gradient(
    to bottom right,
    rgba(200, 27, 27, 0.801),
    #7e1f1f
  );
  color: whitesmoke;
  margin: 5% 40%;
  font-weight: 400;
  border-radius: 20px;
  width: 20%;
  padding-top:10px;
}
.readyfood {
  border-radius: 15px;
  box-shadow: 2px 2px 20px #ccc;
  margin: 5% 0;
}
.horul {
  width: 50%;
  text-align: center;
}
.readyfood-title {
  margin: 5% 0;
}
.mobilewrapper {
  max-height: 100vh;
}
.mobile-nav {
 width:50%;
 position: fixed;
 height:100vh;
 z-index: 2;
 display:flex;
 justify-content: center;
 top:0;
 left:50%;
 background: #f5e2e2;
}
.mobile-nav ul{
  padding:40% 5%;
}
.mobile-nav ul li{
  margin:30% 0;
}
@media screen and (max-width: 914px) {
  .animenav {
    justify-content: space-around;
    height: 3rem;
  }
  .navchange{
  position: relative;
  margin:80% 200%;
  width:inherit;
  z-index: 15;
}
.mobile-nav {
 width:30%;
 position: fixed;
 height:100vh;
 z-index: 2;
 display:flex;
 justify-content: center;
 top:0;
 left:70%;
}
.menubad {
  width: 20px;
  height:20px
}
  .nopadding {
    height: 55vh;
  }
  .image-svg {
    width: 60%;
    margin: 0% 0%;
  }
  .ulanime {
    max-width: 70%;
  }
  .ulanime li {
    padding: 7px 7px;
  }
  .writeup h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1100px) {
  .nopadding {
    height: 55vh;
  }
  .image-svg {
    width: 40%;
    margin: 15% -10%;
  }
  .writeup h1 {
    font-size: 2.5rem;
  }
  .writeup {
    margin-top: 25%;
  }
  .animenav{
    height: 4rem;
  }
}
@media screen and (max-width: 790px) {
  .animelogo {
    padding-left: 2%;
  }
  .image-svg {
    width: 30%;
    margin: 5% 0%;
  }
  .nopadding {
    height: 45vh;
  }
  .readyfood-title {
    font-size: 1.5rem;
  }
  .orderbtn {
    margin: 2% 35%;
    font-size: 12px;
    width: 25%;
  }
  .writeup h1 {
    font-size: 1.6rem;
  }
  .writeup p {
    font-size: 0.6rem;
  }
  .writeup {
    margin-top: 15%;
  }
}
@media screen and (max-width: 590px) {
 .animelogo {
  max-width: 5rem;
  min-width:5rem;
  padding: 0.2%;
  padding-left: 1.5rem;
  box-sizing: content-box;
}
.navchange{
  position: relative;
  margin:80% -80%;
  width:inherit;
  z-index: 15;
}
.mobile-nav ul{
  padding:40% 3%;
}
.mobile-nav {
 width:50%;
 position: fixed;
 height:100vh;
 z-index: 2;
 display:flex;
 justify-content: center;
 top:0;
 left:50%;
}
.menubad{
  width: 15px;
  height:15px;
}

  .image-svg {
    width: 50%;
    margin: 5% 5%;
  }
  .orderbtn {
    width: 35%;
  }
  .nopadding {
    height: 45vh;
  }
  .writeup h1 {
    font-size: 1.3rem;
  }
  .writeup p {
    font-size: 0.5rem;
  }
  .writeup {
    margin-top: 30%;
  }
  .animenav{
    height:3.5rem;
  }
}
