*{
    margin: 0;
    padding:0;
    /* border:1px solid blue; */
}
.pichange{
    margin-top:5%;
}
.pichange-content{
    margin:5% 0;
    display: flex;
    flex-direction: row;
}
.pichange-content img{
    border-radius: 10%;
    height:50vh;
    width: 25vw;
    display:flex;
    margin: 0 25%;
}
.pichange-content p{
    display:flex;
    align-items: center;
}

@media screen and (max-width: 1100px){
    .pichange-content img{
        width:70%;
        height: 65vh;
        max-height: 25vh;
        margin: 0 auto;
    }
}
@media screen and (max-width: 914px){
     .pichange-content img{
        max-width: 70%;
        max-height: 35vh;
        text-align:center;
        margin:5% auto;
    }
    .pichange-content p{
        max-width:90%;
        margin:0 auto;
    }
}
@media screen and (max-width: 790px){
    .pichange-content{
        display: block;
        width: 100%;
    }
    .pichange-content img{
        width: 50vw;
        height: 35vh;
        max-height: 35vh;
        text-align:center;
        margin:10% auto;
    }
    .pichange-content p{
        max-width:100%;
        margin:0 auto;
    }
}
@media screen and (max-width: 590px){
    .pichange-content{
        display: block;
        width: 100%;
    }
    .pichange-content img{
        width: 60vw;
        height: 35vh;
        max-height: 35vh;
        text-align:center;
        margin:10% auto;
    }
    .pichange-content p{
        max-width:100%;
        margin:0 auto;
    }
}
